# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [2]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [3]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

a[3:]

[4, 5, 6]

In [18]:
# create a list of numbers from 1 to 20
list1 = list(range(1, 21))

In [59]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
list2 = list(range(2,101))
list2[::2]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [72]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide(num1, num2):
    return num1/num2

divide(6,2)

3.0

In [84]:
# write a function that takes a string as input
# and return that string in all caps
def capital(word):
    return word.upper()


capital("mehr")

'MEHR'

In [96]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
nums = list(range(1,30))

for num in nums:
    if num % 3 == 0:
        print("fizz")
    elif num % 5 == 0:
        print("buzz")
    elif num % 5 == 0 and num % 3 == 0:
        print("fizzbuzz")
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29

In [97]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
ahmos_pricing = {"Gyro:":9.00, "Burger:":9.00, "Greek Salad:":8.00, "Philly Steak:":10.00}

In [106]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv(".../data/starbucks.csv")
type(df)

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# output the calories, sugars, and protein columns only of every 40th row. 
df.iloc[::40]

In [ ]:
# select all rows with more than and including 400 calories
df[df["calories"] >= 400]

In [ ]:
# select all rows whose vitamin c content is higher than the iron content
df[df["vitamin c"] > df["iron"]]

In [ ]:
# create a new column containing the caffeine per calories of each drink
df["caffeine/calories"] = df["caffeine"] / df["calories"]
df.head()

In [ ]:
# what is the average calorie across all items?
df["calories"].mean()

In [ ]:
# how many different categories of beverages are there?
print(df["beverage_category"].unique())

In [ ]:
# what is the average # calories for each beverage category?
beverages = df.groupby("beverage_category")
beverages["calories"].mean()